<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.icapps.background_location_tracker">

    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application>
        <service
            android:name=".service.LocationUpdatesService"
            android:enabled="true"
            android:exported="true"
            android:foregroundServiceType="location" />
    </application>
</manifest>